h2{
    color: #ffffff;
}
.genresAll table{
    margin-top: 2%;
    width: 100%;
    border: 1px solid #cccccc;    
}
.genresAll button{
    width: 100%;
    overflow: hidden;
    padding-top: 6.3%;
    padding-bottom: 6.4%;
    margin-left: -0.8%;
    background-color: #bcbcdc;
    border: 0px;
}
.genresTitle{
    text-align: left;
    float: left;
}
.addgenres{
    margin-top: 2%;
    margin-bottom: 2%;
}
.addgenres button{
    width: 100%;
    overflow: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #bcbcdc;
    border: 0px;
    color: white;
}
.paging{
    margin-left: -3%;
    margin-right: -3%;
}
.paging button{
    width: 10%;
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #bcbcdc;
    border: 0px;
}