<h2>
    Add
</h2>
<form [formGroup]="addForm" novalidate>
    <table>
        <tr>
            <td>
                <label> Name : </label>
            </td>
            <td>
                <input formControlName="name" required />
                <span [hidden]="addForm.controls['name'].valid" >Name is must required</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" (click)="saveData()"> Save </button>
            </td>
        </tr>
    </table>
</form>