header{
    text-align:center;
}
header h1{
    font-size: 100px;
    color: #ffffff;
}
section{
    text-align: center;
    margin-bottom: 10%;
}
.view{
    background-color: #666666;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 10%;
}
.view button{
    float: left;
    outline: none;
    font-size: 20px;
    overflow: hidden;
    width: 50%;
    background-color: #ccccff;
    color: #333333;
    border: none;
    cursor: pointer;
    padding: 2%;
    margin-bottom: 5%;
}
.view button:hover{
    background-color: #9999ff;
}
.active{
    background-color: #a399e0 !important;
}