<h2>
    Edit
</h2>
<form *ngIf="track" [formGroup]="editForm" (ngSubmit)="saveData()" novalidate>
    <label> Title : </label>
    <input formControlName="title"/><br/>
    <p [hidden]="editForm.controls['title'].valid">Title must required</p>
    {{editForm.get('title').status}}
    <div formGroupName="genres">
        <label> Genres : </label>
        <select formControlName="id">
            <option *ngIf="track.genres.length" [value]="track.genres[0].id">{{track.genres[0].name}}</option>
            <option *ngFor="let genre of genres" [value]="genre.id">
                {{genre.name}}
            </option>
            <option [value]=""></option>
        </select>
    </div>
    <label> Rating : </label>
    <input formControlName="rating" /><br/>
    <button type="submit"> Save </button>
</form>
<div *ngIf="track">
    {{editForm.value | json}}
</div>